<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>69249651926-ilrs70v68uss27839ks8065h818cjlua.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.69249651926-ilrs70v68uss27839ks8065h818cjlua</string>
	<key>API_KEY</key>
	<string>AIzaSyBHh__jTxcoBycZ-Dw4S-XEgSXABuWiK40</string>
	<key>GCM_SENDER_ID</key>
	<string>69249651926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.in2uitions.dingdone</string>
	<key>PROJECT_ID</key>
	<string>dingdone-e23ab</string>
	<key>STORAGE_BUCKET</key>
	<string>dingdone-e23ab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69249651926:ios:ce796be610df8b3e1c6577</string>
</dict>
</plist>